<html>
 <head>
 	<title>$!title</title>
 	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
 <body>
 	<table width="300" border="1">
 		<tr>
 			<td>用户帐号</td>
 			<td>真实姓名</td>
 		</tr>
 		#foreach($user in $users)
 			<tr>
	 			<td>${user.userAccount}</td>
	 			<td>$!{user.userName}</td>
 			</tr>
 		#end
 	</table>
 </body>
</html>