.dh1 {
	color: #0C5FAE;
	padding-top: 2px;
	letter-spacing: 1px;
}



.td_center {
	text-align: center;
	background-color: #EFF7FF;
	height: 30px;
	padding-right: 5px;
	padding-top: 2px;
	border-collapse:collapse; 
	border:solid #82C8EB; 
	border-width:1px 1px 1px 1px;
}

.td_right {
	background-color: #ffffff;
	color: #000000;
	height: 30px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	border-collapse:collapse; 
	border:solid #82C8EB; 
	border-width:1px 1px 1px 1px;
}

.td_left {
	text-align: right;
	background-color: #EFF7FF;
	height: 30px;
	padding-right: 5px;
	padding-top: 2px;
	border-collapse:collapse; 
	border:solid #82C8EB; 
	border-width:1px 1px 1px 1px;
}
.repare_table {
	background-color: #c5d6ed;
	border-left-color: Aqua;
	border-bottom-color: Transparent;
	border-left-color: Transparent;
	border-right-color: Transparent;
	border-top-color: Transparent;
}
