/*南山小学风站css样式*/
html,body {
	font: 12px/ 1.8 Arial;
	color: #333;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
	{
	margin: 0 auto;
	padding: 0;
}

fieldset,img {
	border: 0;
	vertical-align: middle;
}

input {
	vertical-align: middle;
}

/*列表*/
ul,ol {
	list-style: none;
}

li {
	line-height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

a:link,a:visited {
	text-decoration: none;
	color: #333333;
}

a:hover,a:active {
	text-decoration: none;
	color: #FF0000;
}

.bg_none {
	background: none;
}

#warp,.header,.footer {
	width: 990px;
	margin: 0 auto;
	padding: 0px;
}

/*head头部*/
#head {
	width: 990px;
	overflow: hidden;
}

.top {
	background: url("img/header.gif") no-repeat;
	padding: 5px 0px 0px 50px;
}

.menu {
	height: 105px;
}

.menu p {
	width: 680px;
	text-align: right;
}

.menu p a {
	padding: 0px 5px;
}

.menu_nav {
	position: relative;
	z-index: 0;
}

.menu_nav li {
	background: url("img/head_icon.gif") no-repeat scroll center 88%
		transparent;
	float: left;
	font-size: 14px;
	height: 50px;
	padding: 0 15px;
	overflow: visible;
}

.menu_nav li a {
	color: #2095A6;
	display: inline-block;
	height: 50px;
}

.menu_nav a:hover {
	background: url("img/head_icon_select.gif") no-repeat scroll center
		bottom transparent;
}

.menu_nav li .hover_out {
	position: absolute;
	visibility: hidden;
}

.menu_nav li.hover .hover_out {
	left: 0;
	position: absolute;
	top: 50px;
	visibility: visible;
	z-index: 1;
	left: 0;
	_left: -100%;
}

.menu_nav li.hover .hover_center a {
	background: url("img/nav_line.gif") no-repeat scroll right 50%
		transparent;
	color: #4B4B4B;
	display: inline-block;
	font-size: 12px;
	height: auto;
	padding: 5px;
}

.menu_nav li.hover .hover_center a:hover {
	color: #FF0000;
}

.hover_out {
	background: url("img/nav_left.gif") no-repeat scroll left center
		transparent;
	height: 31px;
	padding-left: 24px;
}

.hover_inner {
	background: url("img/nav_right.gif") no-repeat scroll right center
		transparent;
	height: 31px;
	padding-right: 10px;
}

.hover_center {
	background: url("img/nav_repeat.gif") repeat-x scroll 0 0 transparent;
	width: 630px;
	height: 31px;
	overflow: hidden;
}

/*幻灯*/
#head .frame {
	border-radius: 1em 1em 1em 1em;
}

#head .frame img {
	width: 990px;
	height: 397px;
	overflow: hidden;
}

/*mian*/
#main {
	margin: 10px 0px 10px -10px;
}

/*左边*/
.scor_left {
	width: 253px;
	overflow: hidden;
	margin-left: 25px;
	_margin-left: 13px;
}

.regit {
	width: 252px;
	height: 225px;
	background: url(img/regit_bg.gif) no-repeat;
	margin-bottom: 10px;
}

.for_form {
	padding: 10px 5px 10px 10px;
	position: relative;
}

.for_form li {
	height: 26px;
	line-height: 26px;
	font-size: 14px;
}

.for_form li span {
	letter-spacing: .5em;
	_letter-spacing: 1em;
}

.for_form li input {
	width: 90px;
}

.for_form li .next {
	display: block;
	text-decoration: underline;
	color: #417a85;
	font-size: 12px;
	font-weight: normal;
}

.for_form li a {
	padding-left: 13px
}

.for_form li input.sure {
	border: medium none;
	background: url("img/regit.gif") no-repeat;
	width: 62px;
	height: 22px;
	cursor: pointer;
	margin-left: 10px;
}

/*网站前台统一按钮样式*/
.uniformButton {
	border: medium none;
	background: url("img/regit.gif") no-repeat;
	width: 62px;
	height: 22px;
	cursor: pointer;
	margin-left: 10px;
}

/*留言板翻页按钮*/
.an {
	border: medium none;
	background: url("img/regit.gif") no-repeat;
	width: 62px;
	height: 22px;
	cursor: pointer;
	margin-left: 10px;
}

.for_form li.check {
	position: absolute;
	right: 5px;
	top: 60px;
	height: auto;
	text-align: center;
}

.user_reg {
	width: 252px;
	position: relative;
}

.user_reg a {
	background: url(img/reg_link.gif) no-repeat;
	display: inline-block;
	width: 53px;
	height: 53px;
	text-align: center;
	color: #3dbed1;
	cursor: pointer;
}

.user_reg a:hover,.user_reg .user_hover {
	background: url(img/reg_hover.gif) no-repeat;
	color: #fff;
}

.user_reg a span {
	display: inline-block;
	padding: 5px 10px;
}

.user_reg_tea {
	position: absolute;
	top: -45px;
	right: 15px;
}

.user_reg_stu {
	position: absolute;
	top: -5px;
	right: 65px;
}

.user_reg_par {
	position: absolute;
	top: 10px;
	right: 125px;
}

.user_reg_oth {
	position: absolute;
	top: 10px;
	right: 198px;
}

.libry {
	background: url("img/bg-left.gif") no-repeat left;
	padding-left: 8px;
	height: 107px;
}

.libry_out {
	background: url("img/bg-right.gif") no-repeat right;
	padding-right: 8px;
	height: 107px;
}

.libry_inner {
	background: url("img/bg-repeat.gif") repeat-x;
	width: 237px;
	height: 107px;
}

.libry_inner h3 {
	text-align: center;
	padding: 5px 0px;
	_padding: 5px 0px 0px;
}

.libry_class {
	background: url("img/bg-content.gif") no-repeat;
	width: 100%;
	height: 64px;
}

.libry_class a {
	display: inline-block;
	width: 76px;
	_width: 75px;
	text-align: center;
	height: 32px;
	line-height: 32px;
	color: #fff;
}

.libry_class a:hover {
	color: #FF0000;
}

.contact {
	margin-top: 15px;
}

/*中间*/
.scor_mid {
	width: 420px;
	margin: 0px 15px;
}

.windows {
	width: 410px;
	overflow: hidden;
}

.ui-tabs-nav {
	height: 37px;
	background: url("img/top_bg.gif") no-repeat;
	width: 405px;
}

.ui-tabs-nav li {
	display: inline-block;
	float: left;
	font-size: 14px;
	height: 37px;
	line-height: 37px;
	width: 135px;
	text-align: center;
	cursor: pointer;
	background: url("img/top_link.gif") no-repeat center;
}

.ui-tabs-nav li.ui-tabs-selected {
	color: #FF0000;
	background: url("img/top_hover.gif") no-repeat center;
}

.ui-tabs-panel {
	display: block;
	width: 400px;
	height: 140px;
	padding: 8px 0px 0px 8px;
}

.ui-tabs-hide {
	display: none;
}

.list_li {
	padding: 0px 0px 0px 0px;
}

.list_li li {
	background: url(img/li-list-icon.gif) no-repeat left;
	padding-left: 8px;
}

.education {
	width: 410;
	overflow: hidden;
	margin: 10px 0px;
	/*background: url(img/middle.gif) no-repeat;*/
	height: 140px;
}

.education_no1 {
	margin-left: 120px;
	_margin-left: 60px;
}

.education_no1 h3 {
	padding: 10px 0px 5px 40px;
	font-size: 16px;
}

.education_no1 li {
	width: 210px;
	background: url(img/li-list-icon1.gif) no-repeat left;
	padding-left: 7px;
}

.education h4 {
	width: 35px;
	height: 136px;
	font-size: 14px;
}

.education h4 a {
	display: inline-block;
	padding: 20px 8px;
	color: #fff;
}

.education h4 a:hover {
	color: #4c9aa6;
}

.stars {
	width: 420px;
}

.friendlink {
	background: url(img/friendlin_bg.gif) no-repeat;
	line-height: 23px;
	width: 148px;
	height: 130px;
}

.friendlink h4 {
	background: url(img/friendlin.gif) no-repeat center;
	height: 23px;
	line-height: 23px;
	text-align: center;
	margin: 5px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
}

.friendlink a {
	display: block;
	text-align: center;
	border-bottom: 1px dotted #ccc;
}

.sky_stars {
	margin-left: 8px;
	background: url(img/stars.gif) no-repeat center;
	width: 260px;
	height: 130px;
	position: relative;
}

.sky_stars ul {
	padding-top: 55px;
	padding-left: 8px;
}

.sky_stars ul li {
	background: url(img/li-list-icon.gif) no-repeat left;
	padding-left: 8px;
	width: 175px;
}

.sky_stars ul li a {
	color: #cbb458;
}

.sky_stars ul li a:hover {
	color: #fff;
}

.sky_stars .more {
	position: absolute;
	right: 8%;
	top: 42%;
	background: #000;
	color: #cbb458;
	padding: 0px 5px;
}

.sky_stars .more:hover {
	color: #fff;
}

/*右边*/
.scor_right {
	width: 247px;
}

.xiaozhang {
	background: url(img/xiaozhang.gif) no-repeat;
	width: 247px;
	height: 188px;
}

.xiaozhang h3,.fxiaozhang h3 {
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 13px;
}

.xz_img {
	text-align: center;
	width: 247px;
	padding: 10px 0px 0px;
}

.message {
	margin: 5px 0px;
	width: 247px;
	background: #f0f0f0;
	border-radius: .4em .4em .4em .4em;
}

.message a {
	margin-left: 10px;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	background: url(img/messafe.gif) no-repeat left 50%;
	padding-left: 50px;
}

.message a.textbg {
	background: url(img/xzmessage.gif) no-repeat left;
}

.fxiaozhang {
	background: url(img/fxiaozhang.gif) no-repeat;
	width: 248px;
	height: 231px;
}

.fxiaozhang p {
	text-align: center;
	font-size: 14px;
	padding-top: 5px;
}

/*页尾*/
#foot {
	width: 990px;
	overflow: hidden;
	background: #e8e8e8;
	color: #333;
	padding-top: 15px; padding-bottom : 15px;
	border-top-right-radius: 3em;
	border-top-left-radius: 3em;
	padding-bottom: 15px;
}

.foot_bot {
	padding-top: 20px;
	padding-left: 180px;
}

.foot_cont {
	border-left: 1px solid #ccc;
	margin-left: 30px;
	padding-left: 30px;
}

.foot_cont p a {
	padding: 0px 10px;
	color: #333;
}

.foot_cont p a:hover {
	color: #ff0000;
}

.foot_cont p img {
	margin-left: 50px;
}

/*----二级页面----*/
#web {
	width: 990px;
	overflow: hidden;
	padding: 10px;
}

/*名师风采*/
.page_line {
	text-align: right;
	padding-right: 20px;
}

.page_line a[href="index.html"] {
	background: url(img/icon_con.gif) no-repeat left;
	padding-left: 18px;
}

.page_line a {
	padding: 0px 5px;
}

#left {
	width: 252px;
	overflow: hidden;
	background: url(img/left-repeat.gif) right repeat-y;
}

h2 {
	font-size: 24px;
	position: absolute;
	top: 45px;
	left: 67px;
}

.left_list {
	background: url(img/msfc.gif) no-repeat top;
	border: 1px solid #fff;
	position: relative;
}

.left_list ul {
	margin-top: 130px;
}

.left_list li {
	background: url(img/art_title.gif) no-repeat center top;
	line-height: 33px;
	padding-left: 60px;
	margin-bottom: 10px;
}

.left_list li a {
	font-size: 14px;
}

.left_list li ul {
	margin: 0px;
	margin-left: -35px;
}

.left_list li ul li {
	background: url(img/art_li_list.gif) no-repeat 9%;
	padding-left: 35px;
	border-bottom: 1px solid #cbdbe8;
	margin: 0;
	width: 180px;
}

.left_list li ul li a {
	font-size: 12px;
}

#right {
	width: 690px;
	overflow: hidden;
	margin-right: 20px;
}

.art_title {
	padding-top: 30px;
	border-bottom: 1px solid #ccc;
}

.art_title span {
	background: url(img/art_icon.gif) no-repeat left;
	padding: 5px 20px;
	font-size: 14px;
	font-weight: bold;
}

.art_title pre {
	display: inline;
	color: #999;
}

.art_teachers {
	border-bottom: 1px dotted #ccc;
	padding: 20px 0px;
}

.art_teachers li {
	display: inline-block;
	float: left;
	background: url(img/img_bg.gif) no-repeat center;
	text-align: center;
	height: 211px;
	width: 150px;
	margin: 0px 10px;
}

.art_teachers li img {
	margin-top: 10px;
}

.art_teachers li p {
	padding-top: 5px;
	font-size: 14px;
}

.art_teachers li p a {
	background: url(img/GO_link.gif) no-repeat top;
	height: 21px;
	width: 21px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -5px;
}

.art_teachers li p a span {
	display: none;
}

.art_teachers li p a:hover {
	background: url(img/GO_hover.gif) no-repeat;
}

.art_teachers h3 {
	background: url(img/art_told.gif) no-repeat left;
	padding-left: 30px;
	color: #618023;
	font-size: 14px;
}

.art_teachers h3 span {
	font-size: 12px;
	color: #999;
	padding: 0px 5px;
	letter-spacing: .5em;
}

.art_teachers p {
	text-indent: 2em;
	padding: 10px;
	line-height: 25px;
}

.art_link {
	padding: 20px 0px 10px 30px;
}

.art_link_aclick {
	display: inline-block;
	width: 215px;
	float: left;
}

.art_link_aclick a {
	background: url(img/more_click.gif) no-repeat bottom;
	padding: 5px 10px 15px 10px;
	display: inline-block;
}

/*塘小新闻*/
.article {
	padding: 20px 10px;
}

.article h3 {
	text-align: center;
	font-size: 18px;
	color: #105c7e;
	font-weight: bold;
}

.article content {
	text-indent: 2em;
}

.list_top {
	background: url(img/art_title_01.gif) no-repeat center top;
	height: 40px;
	margin-top: 10px;
	line-height: 28px;
	font-weight: bold;
}

.art_time {
	background: url(img/art_title_01.gif) no-repeat center top;
	height: 41px;
	text-align: center;
	margin-bottom: 5px;
}

.art_time span {
	display: inline-block;
	width: 20%;
	color: #fff;
	padding-top: 2px;
}

.page_next {
	text-align: right;
	padding-right: 20px;
}

.page_next a {
	display: inline-block;
	margin-right: 10px;
	width: 69px;
	height: 29px;
	line-height: 29px;
	text-align: center;
}

.page_next a.next_left {
	background: url(img/next_left.gif) no-repeat;
	padding-left: 5px;
}

.page_next a.next_right {
	background: url(img/next_right.gif) no-repeat right;
	padding-right: 5px;
}

.border_dashed {
	padding-top: 8px;
	border-bottom: 1px solid #cbdbe8;
}

.grey_zi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
	line-height: 22px;
	text-align: right;
}

.left_title {
	font-weight: bold;
}

/*表格边框*/
.panelInclude {
	border-bottom: 1px solid #2095A6;
	border-left: 1px solid #2095A6;
	border-right: 1px solid #2095A6;
	border-top: 1px solid #2095A6;
	clear: left;
	font-size: 12px;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

/* 必填字段标记* */
.dot {
	color: red;
}

.font-step {
	color: #CC6600;
	font-size: 14px;
	font-weight: bold;
}

.font14 {
	font-size: 14px;
}

.font14b {
	font-size: 14px;
	font-weight: bold;
}

.font12b {
	font-size: 12px;
	font-weight: bold;
}

.font9 {
	color: #000000;
	font-size: 12px;
	font-weight: normal;
}

.a-your-account:link {
	color: #003399;
	font-size: 12px;
	text-decoration: underline;
}