<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!--Action层配置Bean  -->
	<bean id="opLogAction"
		class="com.zx.core.system.oplog.action.OpLogAction"
		scope="prototype">
		<property name="opLogService" ref="opLogService" />
	</bean>
	<!--Service层配置Bean  -->
	<bean id="opLogService" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="com.zx.core.system.oplog.service.OpLogService">
				<property name="opLogDAO" ref="opLogDAO" />
			</bean>
		</property>
	</bean>
	<!--Dao层配置Bean-->
	<bean id="opLogDAO"
		class="com.zx.core.system.oplog.dao.OpLogDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>